body {
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

body .os-host>.os-padding>.os-viewport>.os-content {
    height: auto !important
}

.dream-max-width {
    max-width: 1664px;
    margin: 0 auto
}

.inverted a {
    color: #eee !important
}

.inverted a:hover {
    color: #fff !important
}

.dream-404-container {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate3d(-50%, -50%, 0)
}

.dream-404-container .ui.header {
    margin-bottom: 2rem
}

.dream-404-container .ui.header .sub.header {
    margin-top: 0.5rem
}

.ui.menu.dream-menu {
    margin-left: 0;
    margin-right: 0
}

.ui.menu.dream-menu.dream-socials {
    display: flex;
    flex-wrap: wrap
}

.ui.menu.dream-menu.dream-socials .item:first-child {
    padding-left: 0.5rem
}

.ui.menu.dream-menu .item {
    padding: 0.5rem
}

.ui.menu.dream-menu .item:first-child {
    padding-left: 1rem
}

.ui.menu.dream-menu .item i {
    margin: 0
}

.ui.menu.dream-menu .item a {
    color: rgba(0, 0, 0, 0.87)
}

.dream-header {
    position: relative;
    z-index: 999
}

.dream-header .header-socials {
    padding-top: 0;
    padding-bottom: 0
}

.dream-header .header-socials .dream-socials {
    justify-content: center
}

.dream-tags .ui.label {
    margin: 0.5rem 0
}

.dream-categories .ui.accordion .ui.list .item {
    padding-left: 1rem
}

.dream-grid {
    margin: 1rem !important;
    margin-top: 0 !important
}

.dream-grid .dream-column .ui.card {
    width: 100%
}

.ui.card.dream-card {
    border-radius: 0.28571429rem !important
}

.ui.card.dream-card.inverted .content .header>a {
    color: #fff !important
}

.ui.card.dream-card.inverted .content .meta {
    color: rgba(255, 255, 255, 0.4)
}

.ui.card.dream-card.inverted .content .description {
    color: rgba(255, 255, 255, 0.87)
}

.ui.card.dream-card.inverted .extra {
    color: rgba(255, 255, 255, 0.4)
}

.ui.card.dream-card .content .header {
    margin-bottom: 0
}

.ui.card.dream-card .content .header a {
    color: #000 !important
}

.ui.card.dream-card .content .description {
    margin-top: 1rem;
    color: rgba(0, 0, 0, 0.87);
    overflow-wrap: break-word
}

.ui.card.dream-card .content .description img {
    max-width: 100%
}

.ui.card.dream-card .content .description iframe[id^='twitter-widget-'] {
    width: 100% !important
}

.ui.card.dream-card .extra {
    position: relative;
    display: flex;
    align-items: center
}

.ui.card.dream-card .extra .author {
    display: flex;
    align-items: center
}

.ui.card.dream-card .extra .reading-time {
    position: absolute;
    right: 1em
}

.dream-single .cover {
    padding: 0
}

.dream-single .cover .cover-img {
    height: 256px;
    background-position: center;
    background-size: cover
}

@media screen and (max-width: 768px) {
    .dream-single .cover .cover-img {
        height: 128px
    }
}

.dream-single h1.ui.large.header {
    margin-top: 1rem
}

.dream-single .main {
    margin-top: 2rem
}

.dream-single-aside {
    position: sticky !important;
    top: 0;
    height: 0
}

@media screen and (max-width: 768px) {
    .dream-single-aside {
        display: none !important
    }
}

.toc ul {
    padding-left: 2rem
}

.utterances-comments .utterances {
    max-width: unset
}

#dream-search {
    position: fixed;
    top: 5%;
    left: 50%;
    width: 30%;
    display: none;
    border: 1px solid #555;
    transform: translateX(-50%)
}

@media screen and (max-width: 768px) {
    #dream-search {
        width: 90%
    }
}

#dream-search .ui.input {
    width: calc(100% - 2rem)
}

#dream-search input {
    color: #fff
}

#dream-search .results {
    background: #1b1c1d;
    border-color: #555
}

#dream-search .result, #dream-search .message.empty {
    border-color: rgba(255, 255, 255, 0.1)
}

#dream-search .result:hover, #dream-search .result.active, #dream-search .message.empty:hover, #dream-search .message.empty.active {
    background: rgba(255, 255, 255, 0.1)
}

#dream-search .result .title, #dream-search .result .header, #dream-search .message.empty .title, #dream-search .message.empty .header {
    color: #fff
}

#dream-search .result .description, #dream-search .message.empty .description {
    color: rgba(255, 255, 255, 0.87)
}