{{ define "title" }}
{{- .Title -}}
{{ end }}

{{ define "css" }}

{{ if .Site.Params.highlightjs }}
  {{ if .Site.Params.highlightjsTheme }}
    <link rel="stylesheet" data-highlight href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/{{ .Site.Params.highlightjsTheme }}.min.css" />
  {{ else }}
    <link rel="stylesheet" data-highlight href="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/styles/default.min.css" />
  {{ end }}
{{ end }}

{{ if .Site.Params.valine }}
  <script src='//unpkg.com/valine/dist/Valine.min.js'></script>
{{ end }}

{{ end }}

{{ define "main" }}
<div class="ui centered relaxed grid dream-grid">
  <div class="sixteen wide mobile sixteen wide tablet twelve wide computer column markdown-body dream-single" id="dream-save-post-as-img">
    {{ if and .Params.Cover .Site.Params.showSummaryCoverInPost }}
    <section class="ui top attached segment cover ">
      <div class="cover-img" style="background-image: url({{ .Params.Cover }});"></div>
    </section>
    {{ end }}
    <section class="ui {{ if not .Site.Params.showSummaryCoverInPost }}top {{ end }}attached segment inverted">
      <header>
        <h1 class="ui large header inverted">
          {{ .Title }}
          <div class="sub header">
            {{ if eq .Site.Language.Lang "zh" }}
                {{ index .Site.Data.zh.Weekday (printf "%d" .Date.Weekday) }}，{{ index .Site.Data.zh.Month (printf "%d" .Date.Month) }} {{ .Date.Day }} 日，{{ .Date.Year }} 年
              {{ else if eq .Site.Language.Lang "es" }}
                {{ index .Site.Data.es.Weekday (printf "%d" .Date.Weekday) }}, {{ .Date.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Date.Month) }} de {{ .Date.Year }}
              {{ else }}
                {{ .Date.Format "Monday, Jan 2, 2006" }}
              {{ end }}

            | {{ i18n "updateAt" }}
              {{ if eq .Site.Language.Lang "zh" }}
                {{ index .Site.Data.zh.Weekday (printf "%d" .Lastmod.Weekday) }}，{{ index .Site.Data.zh.Month (printf "%d" .Lastmod.Month) }} {{ .Lastmod.Day }} 日，{{ .Lastmod.Year }} 年
              {{ else if eq .Site.Language.Lang "es" }}
                {{ index .Site.Data.es.Weekday (printf "%d" .Lastmod.Weekday) }}, {{ .Lastmod.Day }} de {{ index .Site.Data.es.Month (printf "%d" .Lastmod.Month) }} de {{ .Lastmod.Year }}
              {{ else }}
                {{ .Lastmod.Format "Monday, Jan 2, 2006" }}
              {{ end }}
          </div>
        </h1>
      </header>

      <article class="main">{{ .Content | emojify }}</article>
    </section>

    <footer class="ui attached segment dream-tags inverted" data-html2canvas-ignore>
      {{ if isset .Params "tags" }}
        {{ $colour := .Site.Params.tagcolour }}
        {{ range $tag := .Params.tags }}
          <a class="ui label {{ $colour }}" href="{{ "tags/" | relLangURL }}{{ $tag | urlize }}" title="{{ $tag }}">{{ $tag }}</a>
        {{ end }}
      {{ else }}
          <a class="ui label">{{ i18n "noTag" }}</a>
      {{ end }}
      <div
        class="ui label"
        style="float: right; cursor: pointer;"
        onclick="savePostAsImg()">
        <i class="save icon"></i>{{ i18n "saveAsImage" }}
      </div>
    </footer>

    {{ if .Site.Copyright }}
      <footer class="ui attached segment inverted" data-html2canvas-ignore>
        {{ .Site.Copyright | safeHTML }}
      </footer>
    {{ end }}

    {{ if .Site.DisqusShortname }}
      <footer class="ui bottom attached stacked segment post-disqus-area inverted" data-html2canvas-ignore>
        <div id="disqus_thread"></div>
        <script>
          /**
           *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
           *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables
           */

          var disqus_config = function () {
            this.page.url = '{{ .Permalink }}';  // Replace PAGE_URL with your page's canonical URL variable
            this.page.identifier = '{{ .RelPermalink }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
          };

          (function() { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = 'https://' + '{{ .Site.DisqusShortname }}' + '.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
          })();
        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
      </footer>
    {{ end }}
    
    {{ if .Site.Params.utterancesRepo }}
      <div class="ui segment inverted utterances-comments" data-html2canvas-ignore>
        <script src="https://utteranc.es/client.js"
          repo="{{ .Site.Params.utterancesRepo }}"
          issue-term="og:title"
          theme="github-light"
          crossorigin="anonymous"
          async>
        </script>
      </div>
    {{ end }}

    {{ if .Site.Params.valine }}
      <div class="ui segment inverted">
        <div id="vcomments"></div>
      </div>

      <script>
        new Valine({
          el: '#vcomments',
          appId: {{ .Site.Params.LEANCLOUD_APP_ID }},
          appKey: {{ .Site.Params.LEANCLOUD_APP_KEY }}
        })
      </script> 
    {{ end }}

  </div>
  <aside class="sixteen wide mobile sixteen wide tablet four wide computer column dream-single-aside">
    {{ partial "header.html" . }}
  </aside>
</div>
{{ end }}

{{ define "js" }}
<script src="{{ "/js/html2canvas.min.js" | relURL }}"></script>
<script src="{{ "/js/post.js" | relURL }}"></script>

{{ if .Site.Params.highlightjs }}
  <script src="{{ if .Site.Params.highlightjsCDN }}{{ .Site.Params.highlightjsCDN }}{{ else }}{{ "https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/highlight.min.js" }}{{ end}}"></script>

  {{ if .Site.Params.highlightjsExtraLanguages }}
    {{ range .Site.Params.highlightjsExtraLanguages }}
      <script src="https://cdn.jsdelivr.net/gh/highlightjs/cdn-release/build/languages/{{ . }}.min.js"></script>
    {{ end }} 
  {{ end }}

  {{ partial "highlight.html" . }}
{{ end }}

{{ end }}
