{{ if isset .Site.Params "favicon" }}
<link href="{{ .Site.Params.favicon }}" rel="shortcut icon" type="image/x-icon" />
{{ end }}

{{ if eq .Type "posts" }}
<!-- Page Author & Description -->
<meta name="author" content="{{ if isset .Params "author" }}{{ .Params.author }}{{ else }}{{ .Site.Params.author }}{{ end }}" />
<meta name="description" content="{{ .Summary | plainify }}" />
{{ else }}
<!-- Site Author & Description -->
<meta name="author" content="{{ .Site.Params.author }}" />
<meta name="description" content="{{ .Site.Params.description }}" />
{{ end }}

<!-- Site Generator -->
{{ hugo.Generator }}

<link rel="canonical" href="{{ .Permalink }}" />

<!-- Open Graph -->
{{ template "_internal/opengraph.html" . }}

<!-- Twitter Cards -->
{{ template "_internal/twitter_cards.html" . }}

<link rel="stylesheet" href="{{ "/css/semantic.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/icomoon.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/OverlayScrollbars.min.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/github-markdown.css" | relURL }}" />
<link rel="stylesheet" href="{{ "/css/site.css" | relURL }}" />

<style>
  a:hover {
    text-decoration: underline; 
  }

  {{ if .Site.Params.linkColor }}
  a {
    color: {{ .Site.Params.linkColor }} !important;
  }
  {{ end }}

  {{ if .Site.Params.darkLinkColor }}
  .inverted a,
  .inverted a:hover {
     color: {{ .Site.Params.darkLinkColor }} !important;
  }
  {{ end }}

  body{
    background-color: {{ .Site.Params.backgroundDark }};
  }
  table th {
    background: {{ .Site.Params.darkLinkColor }};
    color: black;
  }
  table tr td{
      background: #1b1c1d;
      color: white;
  }
</style>
