{{ define "main"}}
<div class="ui relaxed grid dream-grid">
    <!-- For backward compatible, it's needed to filter out the about pages to prevent them from being rendered -->
    {{ $paginator := .Paginate (where .Site.RegularPages "Section" "!=" "about") }}

    <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
        {{ partial "header.html" . }}
        <br />
        <article class="ui attached segment card dream-card inverted">
            <section class="ui attached center aligned segment inverted">
                {{ partial "paginator.html" (dict "paginator" $paginator "Site" .Site) }}
            </section>
        </article>
    </div>
    {{/*  Checking if we are on the first page and they have highlightFirstN to true */}}
    {{ if and 
        ( and (.Site.Params.highlightFirstN) (.Site.Params.highlightAmount))
        ( eq $paginator.PageNumber 1 ) 
    }}

    {{ range first .Site.Params.highlightAmount $paginator.Pages.ByWeight }}
    <div class="sixteen wide mobile eight wide tablet eight wide computer eight wide large screen eight wide widescreen column dream-column">
        {{ .Render "summary" }}
    </div>
    {{ end }}

    {{ range after .Site.Params.highlightAmount $paginator.Pages.ByWeight }}
    <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
        {{ .Render "summary" }}
    </div>
    {{ end }}

    {{/* If highlightFirstN is false, just display them as normal */}}
    {{ else }}

    {{ range $paginator.Pages.ByWeight }}
    <div class="sixteen wide mobile eight wide tablet eight wide computer four wide large screen four wide widescreen column dream-column">
        {{ .Render "summary" }}
    </div>
    {{ end }}

    {{ end }}
</div>
{{ end }}

{{ define "js" }}
<script src="{{ "/js/imagesloaded.pkgd.min.js" | relURL }}"></script>
<script src="{{ "/js/masonry.pkgd.min.js" | relURL }}"></script>
<script src="{{ "/js/grid.js" | relURL }}"></script>
{{ end }}
